@import url('https://fonts.googleapis.com/css2? família = Chilanka & display = trocar ');
@import url('https://fonts.googleapis.com/css2? família = Montserrat + Alternativas: ital, peso @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1,900 & display = troca ');

body{
	margin: 0;
	padding: 0;
	box-sizing: box;
	background-color: #000;
}

.container{
	text-align: center;
	padding: 20px;
}

.titulo{
	font-family: 'Montserrat Alternates', sans-serif;  
  	font-size: 30px;
	color: red;

}

.destaque{
	background-color: black;
	color: white;
}

.container img{
	height: 250px;
	width: 150px;
	object-fit: cover;
	margin: 5px;
}

.lista-filmes{
	margin-top: 30px;
}

video{
	width: 90vw;
	margin: 50px 0 50px 0;
}

iframe{
	width: 90vw;
}